body {
  font-family: Arial;
  text-align: center;
  background-color: #f9f9f9;
}
img {
  width: 300px;
  margin: 20px;
}
a {
  background: #25D366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
